@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext');


#app {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.header {
  text-align: center;
  width: 90%;
  margin: 150px auto 0;
}

.green-diamond {
  position: absolute;
  top: 14vh;
  height: 0.9rem;
  left: 3.4rem;
  z-index: -1;
}

.blue-circle {
  position: absolute;
  top: 28.8rem;
  left: 4.3rem;
  height: 80px;
  z-index: -1;
}

.yellow-circle {
  position: absolute;
  top: 7.3rem;
  right: 6.9rem;
  height: 1.3rem;
  z-index: -1;
}

h1 {
  font-size: 3rem;
  font-size: clamp(3rem, 2.8rem + 1vw, 4rem);
  margin: 0;
}

.leading__paragraph {
  font-size: 0.9375rem;
  font-size: clamp(0.9375rem, 0.9rem + 0.1875vw, 1.125rem);
  color: #868687;
  font-weight: 500;
  padding: 2rem 0;
  margin: 0 auto;
  line-height: 1.6rem;
  width: 90%;
}

.header-iphone {
  margin: 100px auto 60px;
}

.header-iphone-img {
  max-width: 100%;
  height: auto;
  transition: transform .2s;
}

.header-iphone-img:hover {
  transform: scale(1.1);
}

.btn {
  font-size: x-small;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 1rem 3rem;
  margin-left: 1rem;
  background-color: #FF4B63;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.8s ease;
  border: none;
}

.btn:hover {
  font-size: medium;
  letter-spacing: 2px;
  box-shadow: 0 0 10px 5px rgba(154, 103, 231, 0.8);
}

.btn i {
  font-size: 20px;
  margin-right: 5px;
}

.features-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;
  padding-bottom: 64px;
}

.circle {
  width: 11vmin;
  height: 11vmin;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_title {
  color: #000;
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-weight: 700;
  text-align: center;
}

.features-container .purple {
  background-color: #e8e3f9;
}

.features-container .purple i {
  color: #aa7eec;
  font-size: 5vmin;
}

.purple:hover {
  position: relative;
  cursor: pointer;
  animation-name: temblor;
  animation-duration: .4s;
  animation-delay: 0s;
}

@keyframes temblor {
  0% {
    left: 3px;
    top: 8px;
  }

  25% {
    left: -3px;
    top: 5px;
  }

  50% {
    left: 3px;
    top: 8px;
  }

  75% {
    left: -3px;
    top: 5px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}


.features-container .green {
  background-color: #d5f2ed;
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
 
  }
}

.features-container .green i {
  color: #19ca94;
  font-size: 5vmin;
}

.green:hover {
  position: relative;
  cursor: pointer;
  animation-name: temblor;
  animation-duration: .4s;
  animation-delay: 0s;
}


.features-container .pink {
  background-color: #f7e1e7;
}

.features-container .pink i {
  color: #ff556e;
  font-size: 5vmin;
}

.pink:hover {
  position: relative;
  cursor: pointer;
  animation-name: temblor;
  animation-duration: .4s;
  animation-delay: 0s;
}


.features-container .yellow {
  background-color: #f7efd9;
}

.features-container .yellow i {
  color: #ffb30f;
  font-size: 5vmin;
}

.yellow:hover {
  position: relative;
  cursor: pointer;
  animation-name: temblor;
  animation-duration: .4s;
  animation-delay: 0s;
}

.features-container .blue {
  background-color: #ddf0f9;
}

.features-container .blue i {
  color: #4fb9e8;
  font-size: 5vmin;
}

.blue:hover {
  position: relative;
  cursor: pointer;
  animation-name: temblor;
  animation-duration: .4s;
  animation-delay: 0s;
}